body {
	background: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -8px;
}


.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 100px;
    justify-content: center;
}