.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
  }
  .social-buttons__button {
    margin: 10px 5px 0;
  }
  
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
  }
  .social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
  }
  .social-button i,
  .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  .social-button i {
    font-size: 28px;
  }
  .social-button svg {
    height: 40%;
    width: 40%;
  }
  .social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
  }
  .social-button:focus, .social-button:hover {
    color: #fff!important;
  }
  .social-button:focus::after, .social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
  }
  
  .social-button--facebook {
    color: #3b5998 !important;
  }
  .social-button--facebook::after {
    background: #3b5998;
  }
  .social-button--twitter {
    color: #1da1f2 !important;
  }
  .social-button--twitter::after {
    background: #1da1f2;
  }
  .social-button--pinterest{
   color: #bd081c !important;
  }
  .social-button--pinterest::after {
    background: #bd081c;
  }
  .social-button--youtube {
   color: #ff0000 !important;
  }
  .social-button--youtube::after {
    background: #ff0000;
  }
  .social-button--instagram {
   color: #c13584 !important;
  }
  .social-button--instagram::after {
    background: #c13584;
  }