*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.navbar{
	height: 75px;
    background: linear-gradient(to right, #42A5F5, #0D47A1);
}

.logo{
	height: 50px;
	width: 40px;
    margin: 8px 16px 8px 8px;
}

.navbar-toggler{
	margin-right: 12px;
}