*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.navbar{
    background: linear-gradient(to right, #42A5F5, #0D47A1);
}

.nav-item{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s;
}

.nav-link.active {
    color: white;
}
.nav-link:hover {
	color: white;
}

.logo{
	height: 50px;
	width: 40px;
    margin: 8px 16px 8px 8px;
}

.searchbox {
    width: 20%;
    text-align :center;
	padding-right: 1em;
}

input[type=submit] {
	background-color: #4fabd6;
	border: none;
	color: white;
	padding: 6px 10px;
	text-decoration: none;
	margin: 1px 1px;
	cursor: pointer;
}
.search-box{
	padding-left: 10px;
}

.btn-buscar{
	border: 10px;
}