*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.navbar{
    background: linear-gradient(to right, #42A5F5, #0D47A1);
}
.nav-link.active {
    color: white;
  }
.logo{
	height: 50px;
	width: 40px;
    margin: 8px 16px 8px 8px;
}
