<div class="navbar fixed-top">
    <a href="/home" > <!-- Como hacer para que nos lleve al path del home-->
        <img class="logo" src="https://cdn.discordapp.com/attachments/852889034723426324/998718998516617466/icono-MS-black.png">
    </a>

    <app-search></app-search>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse botones" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li *ngFor="let item of navItems" class="nav-item">
                <a 
                    class="nav-link" 
                    aria-current="page"  
                    [href]="item.path"
                    routerLinkActive="active"
                > 
                    {{ item.label }}
                </a>
            </li>
        </ul>
    </div> 
</div>

