<footer class="bg-light text-center text-white" >
<!-- Grid container -->

<div style="background-color: #a6bace" >
    <section>
        <!-- Lucho -->
        <a
        href="https://www.facebook.com/"
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #098fe7;"
        >
        <i class="fab fa-linkedin-in" aria-hidden="true"></i> LR
        </a>
      <a
        href="https://www.facebook.com/"
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #098fe7;"
      >
        <i class="fab fa-github" aria-hidden="true"></i> LR
      </a>
        <!-- Juani -->
          <a
          href="https://www.facebook.com/"
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          >
          <i class="fab fa-linkedin-in" aria-hidden="true"></i> JIP
          </a>
        <a
          href="https://www.facebook.com/"
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
        >
          <i class="fab fa-github" aria-hidden="true"></i> JIP
        </a>
    </section>
</div>
<!-- Copyright -->
</footer>
