<body>
    <div class="cont" *ngIf="games_search?.length">
        <h2>RESULTADOS ENCONTRADOS</h2>
        <carousel class="carousel-class">
            <ng-container *ngFor="let game of games_search">
                <slide>
                    <h4 class="card-title"> 
                        <strong>{{game.name}}</strong>
                    </h4>
                    <img [src]="game.image">
                    <div class="carousel-caption d-none d-md-block">
                        
                        <button (click)="onClick(game.id)" class="btn btn-primary me-3">
                            Más detalles
                        </button>
                    </div>
                </slide>
            </ng-container>
        </carousel>
    </div>
</body>
