body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont{
    width: 75%;
    height: auto;
    margin-top: 45px;
    border-radius: 50px;
    padding: 15px;
    background:
    linear-gradient(110deg, #78d0f3 50%, #94dbfc 50%, #c2f3e7 52%, #d1f5de 52%, #c8ebfc 0) 0 0/100% calc(100% - 10px) no-repeat,
    linear-gradient(110deg, #5297f1 52%, transparent 0) 0 100%/100% 100% no-repeat;
}

h2{
    display: table; 
    margin: 0px auto 20px auto; 
    padding:5px;
    font-size:35px;
    color:#000000;
    border-radius: 10px;
}

.carousel-class{
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}