

<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Machine Store</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openDialog()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<app-table></app-table>
