<h1 mat-dialog-title>Editar Juego</h1>

<form [formGroup]="gameForm" (ngSubmit)="guardarJuego()">
  <div mat-dialog-content>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input placeholder="Nombre" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <textarea #message matInput placeholder="Ej: ...." formControlName="description"></textarea>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Embed</mat-label>
      <textarea matInput placeholder="Ej: ...." formControlName="trailer"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valoracion</mat-label>
      <input type= number placeholder="5" matInput formControlName="valoration">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoría</mat-label>
      <mat-select [(value)]="category">
        <mat-option [value]="c.id" *ngFor="let c of categories">{{ c.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Desarrollador</mat-label>
      <mat-select [(value)]="developer">
        <mat-option [value]="d.id" *ngFor="let d of developers">{{ d.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label>Disponible</mat-label>
    <p> <mat-checkbox formControlName= "isAvailable"></mat-checkbox></p>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial mat-dialog-close>Guardar</button>
  </div>

</form>
