<h1 mat-dialog-title>Editar Usuario</h1>

<form [formGroup]="form" (ngSubmit)="guardarUsuario()">
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input placeholder="Nombre" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input placeholder="Nombre" matInput formControlName="surname">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input placeholder="Email" matInput formControlName="email">
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Rol</mat-label>
      <input placeholder="Rol" matInput formControlName="roleName">
    </mat-form-field> -->

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>CERRAR</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial>GUARDAR</button>
  </div>

</form>
