<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="css" href="login.component.css">
        <title>Document</title>
    </head>

    <body>

        <div class="container" id="container" [ngClass]="{'right-panel-active':show}">

            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>Cree su cuenta</h1>
                    <div class="social-container">
                        <a href="https://www.google.com.ar/" >
                            <img class="social" src="https://cdn.discordapp.com/attachments/988648437459333150/996525133885886484/google-icon.png">
                        </a>
                        <a href="https://www.facebook.com/" >
                            <img class="social" src="https://cdn.discordapp.com/attachments/852889034723426324/998603210531033088/facebook-logo-3-1.png">
                        </a>
                    </div>
                    <span>O use su mail para registrarse.</span>
                    <input type="text" placeholder="Nombre" />
                    <input type="email" placeholder="Mail" />
                    <input type="password" placeholder="Contraseña" />
                    <button>Registrarse</button>
                </form>
            </div>

            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Iniciar Sesion</h1>
                    <div class="social-container">
                        <a href="https://www.google.com.ar/" >
                            <img class="social" src="https://cdn.discordapp.com/attachments/988648437459333150/996525133885886484/google-icon.png">
                        </a>
                        <a href="https://www.facebook.com/" >
                            <img class="social" src="https://cdn.discordapp.com/attachments/852889034723426324/998603210531033088/facebook-logo-3-1.png">
                        </a>
                    </div>
                    <span>O use su cuenta.</span>
                    <input type="email" placeholder="Mail" />
                    <input type="password" placeholder="Contraseña" />
                    <a href="#">Olvido su contraseña?</a>
                    <button>Ingresar</button>
                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">

                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn" (click)="onClicksignIn($event)">Ingresar</button>
                    </div>

                    <div class="overlay-panel overlay-right">
                        <h1>Bienvenido!</h1>
                        <p>Si no tienes una cuenta puedes creartela haciendo cliente aqui!</p>
                        <button class="ghost" id="signUp" (click)="onClicksignUp($event)">Registrarse</button>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>