<button class="previous" (click)="volverAtras()"  >&laquo; Volver atrás</button>
<div class="content-profile-page">
        <div class="profile-user-page card">
            <div class="img-user-profile">
                <img class="profile-bgHome" src="https://37.media.tumblr.com/88cbce9265c55a70a753beb0d6ecc2cd/tumblr_n8gxzn78qH1st5lhmo1_1280.jpg" />
                <img class="avatar" src="http://gravatar.com/avatar/288ce55a011c709f4e17aef7e3c86c64?s=200" alt="jofpin"/>
            </div>
                <div class="user-profile-data">
                    <h1>user.name</h1>
                    <p>user.socialMedia</p>
                </div> 
                <div class="description-profile">user.bio</div>
            <ul class="data-user">
                <li><a><strong>user.games</strong><span>Juegos</span></a></li>
                <li><a><strong>user.cromos</strong><span>Cromos</span></a></li>
                <li><a><strong>user.age</strong><span>Edad</span></a></li>
            </ul>
        </div>
</div>
