.conteiner{
    margin: 25px 40px 50px 40px;
    border: solid 1px blue;
    border-radius: 50px;
    background: linear-gradient(to bottom, #42A5F5, #0D47A1);
}

.card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2{
    margin-top: 10px;
    text-align: center;
}

.card{
    max-width: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.progress{
    margin: 25px 0px 50px 0px;
}