<div class="container">   
    <div class="card-group mt-3">
        <div class="card text-center border-info">
            <ng-container *ngFor="let game of games_search" class="card"> <!-- Es como un foreach para cada game de games -->
                <div class="card-group">
                    <div class="card">
                        <img [src]="game.image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{game.name}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>