<div class="profile">

  <ng-container *ngIf="user">
      <div class="card">
        <div class="text-center">
          <img [src]="imagen" alt="foto de perfil" class="profile-photo" stlye="height:75px;width:130px">
        </div>
        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">{{user.roleName}}</span>
          <h3 class="mt-2 mb-0">Nombre: {{user.name}}</h3>
          <h3>Apellido: {{user.surname}}</h3>
          <h3>Email: {{user.email}}</h3>
        </div>
      </div>
  </ng-container>

    &nbsp;
    <article class="games-library">
      <ng-container *ngIf="games">

        <!-- Tabla -->
        <app-table [tableData]="games" [tableColumns]="gamesTableColumns"></app-table>

      </ng-container>
    </article>
  </div>
