<div class="profile">

  <ng-container *ngIf="user">
    <div class="grid-profile">

      <img [src]="imagen" alt="foto de perfil" class="profile-photo" stlye="height:75px;width:130px">
      <div class="profile-info">
        <h2 class="titulo">{{user.name}}</h2>
        <h3>Apellido: {{user.surname}}</h3>
        <h3>Email: {{user.email}}</h3>
      </div>
    </div>
  </ng-container>
    &nbsp;
    <article class="games-library">
      <p class="miBiblio">MI BIBLIOTECA</p>

      <ng-container *ngIf="games">

        <!-- Tabla -->
        <app-table [tableData]="games" [tableColumns]="gamesTableColumns"></app-table>

      </ng-container>
    </article>
  </div>
